<section class="contact-us" id="contact">
    <div class="bg-overlay"></div>
    <div class="container" style="position: relative;" >
         <div class="row">
              <div class="ml-auto col-lg-5 col-md-6 col-12">
                  <h2 class="mb-4 pb-2 text-white">Feel free to ask anything</h2>

                  <form action="#" method="post" class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
                      <input type="text" class="form-control" name="cf-name" placeholder="Name">

                      <input type="email" class="form-control" name="cf-email" placeholder="Email">

                      <textarea class="form-control" rows="5" name="cf-message" placeholder="Message"></textarea>

                      <button type="submit"  class="btn form-control button-message" id="submit-button" name="submit">Send Message</button>
                  </form>
              </div>

              <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                  <h2 class="mb-4 text-white">Where you can <span>find us</span></h2>

                  <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> Block F, Police Foundation, Islamabad, Punjab, Pakistan</p>
<!-- How to change your own map point
1. Go to Google Maps
2. Click on your location point
3. Click "Share" and choose "Embed map" tab
4. Copy only URL and paste it within the src="" field below
-->
                  <div class="google-map" data-aos="fade-up" data-aos-delay="900">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1397.8098156631768!2d73.12747459772619!3d33.564525431808825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1657646269005!5m2!1sen!2s" width="600" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
              </div>
              
         </div>
    </div>
</section>