<section class="About-section" style="position: relative;">
    <div class="bg-overlay"></div>
    <div class="container" style="position: relative;">
         <div class="row" style="opacity: 1;">

                 <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                     <h2 class="mb-4" style="color: #f8f8f8;" data-aos="fade-up" data-aos-delay="300">Hello, we are Gymso</h2>

                     <p style="color: #f8f8f8; font-size: 22px;" data-aos="fade-up" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minus quas numquam necessitatibus illo labore quis. Non quia cum, neque voluptate animi, esse, dolor dolores inventore hic sint consectetur unde.</p>
                 </div>
         </div>
         <br>
         <div class="row" style="opacity: 1;">
            <div class="col">
            <app-instructor-cards [name]="name1" [image]="image2" [job]="job1"></app-instructor-cards>
            </div>
            <div class="col">
            <app-instructor-cards [name]="name2" [image]="image1" [job]="job2"></app-instructor-cards>
            </div>
         </div>
    </div>
</section>