<div class=" mt-4">
    <div class="">
        <img [src]="img" width="500px" height="600px" alt="Trainer">

        <div class="team-info" style="width: 500px;">
            <div class="d-flex justify-content-between align-items-center">
                <h3>{{name}}</h3>
                <a href="#" style="font-size: 30px;" class="fa fa-twitter"></a>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <span>{{job}}</span>
                <a href="#" style="font-size: 30px;" class="fa fa-instagram"></a>
            </div>
        </div>
    </div>
</div>