<app-navbar></app-navbar>
<div style="padding:1rem; background-color:#141d27;">
    <app-banner></app-banner>
</div>
<div style="padding:1rem; background-color:#141d27;">
    <app-feature></app-feature>
</div>
<div style="padding:1rem; background-color:#141d27;">
    <app-about></app-about>
</div>
<div style="padding:1rem; background-color:#141d27">
    <app-class></app-class>
</div>
<div style="padding:1rem; background-color:#141d27">
    <app-schedule></app-schedule>
</div>
<div style="padding:1rem; background-color:#141d27">
    <app-contact></app-contact>
</div>
<div style="padding:1rem; background-color:#141d27">
    <app-footer></app-footer>
</div>