<section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

    <div class="bg-overlay"></div>

       <div class="container">
            <div class="row">

                 <div class="col-lg-8 col-md-10 mx-auto col-12">
                      <div class="mt-5 text-center">

                            <h6 [ngClass]="transitionText?'fade-in':'fade-out'" >new way to build a healthy lifestyle!</h6>

                            <h1 class="text-white" [ngClass]="transitionText?'fade-in':'fade-out'">Upgrade your body at Gymso Fitness</h1>

                            <a href="#" class="btn custom-btn mt-3" [ngClass]="transitionText?'fade-in':'fade-out'">Get started</a>

                            <a href="#" class="btn custom-btn bordered mt-3" [ngClass]="transitionText?'fade-in':'fade-out'"><strong>learn more</strong></a>
                           
                      </div>
                 </div>

            </div>
       </div>
</section>